.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(/../images/header-image.png);
  background-color: #2f80ed;
  margin: 0;
  background-size: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: 2;
}
