.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(/../images/header-image.png);
  margin: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: 1;
}
