@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color:  #f2f2f2;
    position: relative;
    color: black;
    align-items: center;
    overflow: hidden;
  }

.logo {
    left: 64px;
  }

.description {
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    width: 80%;
  }

.two-columns {
    display: flex;
    flex-direction: row;
  }

.digits {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 100px;
  }

.feynman {
    min-height: 890px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color:  #f2f2f2;
  }

.kaufman {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1f1f1f;
    color: white;
    overflow: hidden;
  }

.logo_place_header {
    width: 183px;
    height: 32px;
    top: 30px;
    position: absolute;
    z-index: 1;
  }

.header__title {
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
    margin: 0;
    padding-left: 64px;
    z-index: 2;
  }

.header__subtitle {
    font-size: 18px;
    line-height: 25px;
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    margin: 0;
    z-index: 2;
  }

.header__link {
    color: #2f80ed;
    text-decoration: none;
  }

.header__link:hover {
  opacity: 0.5;
  transition: opacity 1s linear 2s;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    background-image: url(../images/header-image.png);
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: contain;
    z-index: 1;
  }

.header__square-pic {
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    position: absolute;
    background-size: contain;
    top: 64px;
    right: 0;
    animation: rotation 20s infinite;
  }

.two-columns__brief {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    width: 175px;
    color: #2f80ed;
    margin: 0 auto;
  }

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    justify-content: space-between;
  }

.two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
  }

.two-columns__paragraph:last-child {
    margin-bottom: 0;
  }

.two-columns__span-accent {
    font-weight: bold;
  }

.section-title {
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    z-index: 1;
  }

.section-subtitle {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    z-index: 1;
  }

.table__cell {
    width: 250px;
    margin-top: 60px;
    list-style: none;
  }

.table__heading {
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    padding-top: 60;
    margin: 0;
  }

.table__text {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 0;
  }

.feynman__title {
    width: 648px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    z-index: 1;
  }

.feynman__subtitle {
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    margin: 0 auto;
    padding-top: 70px;
    z-index: 1;
  }

.feynman__link {
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    position: absolute;
    right: 48px;
    top: 50%;
    margin: 0;
    color: #2f80ed;
    text-decoration: none;
  }

  .feynman__link:hover {
    opacity: 0.5;
    transition: opacity 1s linear 2s;
  }

.feynman__illustration {
    width: 867px;
    height: 637px;
    background-image: url(../images/feynman.png);
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
  }

.section-title_theme_dark {
    padding-top: 90px;
  }

.table_theme_dark {
    width: 1100px;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 90px;
    z-index: 1;
  }

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
    margin-right: 0;
    list-style: none;
  }

.kaufman__triangle {
    width: 877px;
    height: 877px;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -210px;
    top: 0;
  }
