.khan__buy-link {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color: #2f80ed;
  text-decoration: none;
  max-height: 50px;
  transition: opacity 0.2s linear;
}

.khan__buy-link:hover {
opacity: 0.5;
}
